/* Reset dasar untuk menghilangkan padding dan margin default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Atur latar belakang dan teks dasar untuk seluruh body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container utama untuk halaman login */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    display: flex;
}

/* Style untuk kontainer kiri (form login) */
.left-container {
    padding: 30px;
    width: 50%;
}

/* Style untuk kontainer kanan (informasi tambahan) */
.right-container {
    background-color: #f1c40f;
    color: #fff;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Heading style */
h2 {
    margin-bottom: 20px;
}

/* Style untuk input form login */
.form-login {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style untuk tombol sign-in */
#sign-in {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sign-in:hover {
    background-color: #2980b9;
}

/* Style untuk tombol sign-up */
#sign-up {
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sign-up:hover {
    background-color: #c0392b;
}

/* Responsif untuk layar yang lebih kecil */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-container, .right-container {
        width: 100%;
    }
}
